/* Ser.css */

.hovered-card {
    background: linear-gradient(to right, #ff6900 0%, transparent 100%);
    transition:transform 0.2s;
  }
  .hovered-card:hover{
    transition: animination 0.1s forwards;
  }
  
  .title-hover {
    text-decoration: underline;

  }
  
  .desc-hover {
    text-decoration: underline;
  }
  
  .footer-hover {
    background-color: #ff6900;
  }
  
  .btn-hover {
    color: rgb(126, 21, 21);
  }
  